img{
    object-fit: cover;
}

.card-title{
    color: white;
    text-align: center;
}

.card-img{
    height: 200px;
    $card-height: 200px;
}

.card-body{
    font-size: 10px;
}

.img-fluid{
    width: 1000px;
    height: 500px;
    padding: 50px;
}

.card{
    border: none;
}

.rounded{
    width: 80px;
    height: 80px;
}