
img{
    object-fit: cover;
}

.card-title{
    color: white;
    text-align: center;
    font-size: 65px;
}

.card-img{
    height: 320px;
}

.coxinhaInicial{
    height: 200px;
    width: 200px;
}

.textoSalgados{
    text-align: right;
}

.textoPrincipal{
    text-align: center;
    opacity: 0;
}

.rodape{
    height: 75px;
    width: 75px;
}

.rounded{
    width: 80px;
    height: 80px;
}

@media (max-width: 425px){
    .coxinhaInicial{
        height: 150px;
        width: 150px;
    }
}

@media (min-width: 1200px){
    .coxinhaInicial{
        height: 200px;
        width: 200px;
    }
}