
img{
    object-fit: cover;
}

.card-title{
    color: white;
    text-align: center;
    font-size: 70px;
}

.card-img{
    height: 320px;
}

.coxinhaInicial{
    height: 200px;
    width: 200px;
}

.textoSalgados{
    text-align: right;
}

.textoPrincipal{
    text-align: center;
    opacity: 0;
}

.rodape{
    height: 75px;
    width: 75px;
}

.rounded{
    width: 80px;
    height: 80px;
}