
img{
    object-fit: cover;
}

.card-title{
    color: white;
    text-align: center;
    font-size: 70px;
}

.card-img{
    height: 320px;
}

.coxinhaInicial{
    height: 200px;
    width: 200px;
}

.textoSalgados{
    text-align: right;
}

.textoPrincipal{
    text-align: center;
    background-color: black;
}