<<<<<<< HEAD
img{
    object-fit: cover;
}

.card-title{
    color: white;
    text-align: center;
    font-size: 100px;
}

.card-img{
    height: 200px;

=======
.card-img{
    height: 200px;
}

.img{
    object-fit: cover;
>>>>>>> 3903c5a348a24ba8a7497e29dbd95b8fe7c6e13d
}